html{
    background-color: #000;;
}

body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .side-bar .side-bar-header {
    padding: 7px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background: #141414;
    border: 2px solid #333;
    border-bottom: 0;
  }
  .side-bar .side-bar-content {
    border: 1px solid #333;
  }
  .side-bar .side-bar-content .menu-items {
    width: 100%;
  }
  .side-bar .side-bar-content .menu-items.year .item {
    display: inline-block;
    padding: 0.5rem;
    width: 50%;
    font-size: 0.9rem;
    color: #bdbd8c;
    background: #1d2729;
    border: 1px solid #333;
    text-decoration: none;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
  }
  .side-bar .side-bar-content .menu-items .item {
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    color: #bdbd8c;
    background: #1d2729;
    border: 1px solid #333;
    text-decoration: none;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
  }
.movies-wrapper {
    background-color: #191919;
    border: 1px solid #333;
    margin-bottom: 0.6rem;
  }
  .movies-wrapper .movies-header {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }
  .movies-wrapper .movies-content {
    padding-top: 15px;
    border-top: 1px solid #333;
  }
  .movies-wrapper .movies-content .movies-item {
    position: relative;
    padding-bottom: 10px;
    height: 100%;
  }
  .movies-item .movies-box {
    height: calc(100% - 3.5em);
    background-size: cover !important;
    position: relative;
    width: auto;
    background: #242424;
    color: #005baa;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 4px;
    border: 1px solid #444;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    box-sizing: content-box;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    display: block;
  }
  .movies-box .title {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px;
    box-sizing: border-box;
    left: 0;
    z-index: 1;
    font-size: 1rem;
    font-weight: 300;
    word-wrap: break-word;
    color: #ffcb00;
    text-decoration: none;
  }
  .ribbon.mfull-hd {
    background: #dc0603;
  }
  .ribbon.mzoom {
    background: #8bc34a;
  }
  .movies-box .poster {
    width: 100%;
  }
  .movies-item .movies-footer {
    width: 100%;
    padding: 4px;
    color: #ccc;
    font-size: 13px;
    text-align: center;
    background: #444;
    border-radius: 0 0 4px 4px;
  }
  .movies-box .ribbon {
    width: 80px;
    position: absolute;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    top: 10px;
    right: -20px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-weight: 700;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px #222;
  }